.select
  width: 40rem!important
  margin-bottom: 1rem
.btn
  align-self: flex-end


.extraClassForm
  padding: 2rem
  display: flex
  flex-direction: column
.selectBox
  display: flex
  gap: 1rem
  flex-wrap: wrap
  width: 50rem
  .subjectSelect
    display: flex
    align-items: center
    gap: 0.5rem
    margin-top: 10px
    padding: 1rem
    box-shadow:  0 0 4px 0
    width: fit-content
    border-radius: 10px
    font-size: 16px
