$search-background: #E0F2FE
$main-font-color: #49454F
$main-border-color: #D9D9D9
$error-outline-color: #f15c5c
$error-color: #ff3737
$white-main-color: #fff
$gennis-back-color: #00C2FF
$other-back-white-color: #F3F4F6


$color-danger: #ff1919
$color-warning: #ff8c19
$color-success: #3fb730