@import "app/styles/abstracts/variables"

.deletedGroups
  padding: 20px
  .mainContainer_filterPanelBox
    margin-bottom: 39px
  .table
    overflow: auto
    height: calc(100vh - 35rem)
    &__head

      thead
        background-color: #EFF6FF
        tr
          border: none
      tbody
        tr
          background: none
          td:nth-child(4)
            div
              border: 1px solid
              display: flex
              align-items: center
              justify-content: center
              border-radius: 8px
              height: 4rem
              width: fit-content
              //margin: 5px 0
              padding: 2rem
          td:nth-child(6)
            div
              border: 1px solid $btn-gennis
              display: flex
              align-items: center
              justify-content: center
              border-radius: 8px
              height: 4rem
              width: fit-content
              //margin: 5px 0
              padding: 2rem