.students
  padding: 30px
  .table
      &__head
        tbody
          tr
            cursor: pointer
            td:last-child
              border: 1px solid

              display: flex
              align-items: center
              justify-content: center
              border-radius: 15px
              height: 4rem
              width: 10rem
              margin: 5px 0