@import "app/styles/abstracts/variables"


.head
  width: 100%
  height: $appHeader-height-xl
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  z-index: 1000
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24)
  padding: 2rem 3rem

  &__logo
    display: flex
    flex-direction: column

  //&__search
    width: 30%

  &__location
    width: 500px
    display: flex
    align-items: center
    justify-content: flex-end


