@import "app/styles/abstracts/variables"


.head
  width: 100%
  height: $appHeader-height-xl
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  z-index: 2001
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24)
