.deletedGroups
  padding: 20px

  .mainContainer_filterPanelBox
    display: flex
    justify-content: space-between
    margin-bottom: 39px

  .table
    overflow: auto
    height: calc(100vh - 35rem)

    &__head

      thead
        background-color: #EFF6FF

        tr
          border: none

      tbody
        tr
          background: none
          td:last-child
            div
              display: flex
              align-items: center
              justify-content: center
              width: 30px
              height: 30px
              border-radius: 50%
              background-color: rgba(36, 255, 0, 0.37)

              div
                transform: translate(1px)
                width: 15px
                height: 15px
                background-color: #24FF00