@import "app/styles/abstracts/variables"
@import "app/styles/abstracts/mixins"


.form
  width: 100%
  padding-bottom: 1rem
  .submit
    margin-top: 2rem
    width: fit-content
    height: fit-content
    padding: 0.5rem 2rem
    outline: none
    font-size: 1.7rem
    cursor: pointer
    transition: all .2s
    background-color: white
    color: $color-grey-dark
    &:hover,&:focus
      color: white
    @include btn-active

