.wrapper
  padding: 2.9rem 8rem
  width: 100%
  height: 120vh
  &__container
    padding: 10rem 0
@media (max-width: 900px)
  .wrapper
    padding: 2.9rem 5rem

@media (max-width: 500px)
  .wrapper
    padding: 2.9rem 2rem